
<div class="m-4">
  

<div *ngIf="wrongOriginalPwd" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold"> Error! </strong>
  <span class="block sm:inline">Wrong Password entered. Retry!</span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3" (click)="wrongOriginalPwd=!wrongOriginalPwd">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="resetPasswordCall(myForm)">
        <h4 class="font-medium leading-tight text-2xl mt-0 mb-2 ">Change Password</h4>      <!-- Old Password -->
      <div class=" w-4/6 mb-2">
        <label class="center-block">Old Password:
          <input
          formControlName="password"
          type="password"
          class="form-control block w-full px-4 py-2 text-gray-700  font-normal   bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="exampleFormControlInput54"
          placeholder="Old Password"
        />
    
      </label>
      <div *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)" class="alert">
        <div *ngIf="myForm.controls['password'].errors?.required">
        Please enter your password 
      </div>
    </div>
    
      </div>
        <!-- New password -->
        <div class="mb-2  w-4/6">
          <label class="center-block">New Password:
            <input
            formControlName="newPassword"
            type="password"
            class="form-control block w-full px-4 py-2 text-gray-700  font-normal   bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleFormControlInput5"
            placeholder="New Password"
          />
      
        </label>
        <div *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)" class="alert">
          <div *ngIf="myForm.controls['password'].errors?.required">
          Please enter your password 
        </div>
      </div>
      
        </div>
        <div class="mb-2  w-4/6">
          
          <label class="center-block"> Confirm New Password:
            <input
            formControlName="confirmPassword"
            type="password"
            
            class="form-control block w-full px-4 py-2 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleFormControlInput93"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
          
              (input)="checkPasswordsmatch()"
           
          />
      
        </label>
        <div *ngIf="myForm.controls['confirmPassword'].invalid && (myForm.controls['confirmPassword'].dirty || myForm.controls['confirmPassword'].touched)" class="alert">
            <div *ngIf="myForm.controls['confirmPassword'].errors?.required">
            Please re-enter your password to confirm it
          </div>
        </div>
        <div *ngIf="!bothPasswordsMatch"  class="alert">
         The two passwords don't match
        </div>
        </div>
    
         
            
       
      
      
     
           <div class="text-right  mt-4">
          
            <button mat-flat-button type="submit" [disabled]="!(myForm.valid)" color="primary" class=" bg-purple-600   disabled:opacity-50 disabled:cursor-not-allowed inline-block px-7 py-3  font-medium text-sm leading-snug uppercase rounded ">
              <!-- <span class="text-white"> -->
               Change Password
          <!-- </span> -->
      </button>

          
          </div> 
       
      </form>

