<div class="flex flex-col profile-card p-4">
    <div class="flex flex-row ">
        <div class="flex flex-row justify-between w-full gap-x-6 cursor-pointer">
            <div class="flex justify-center">
                <div>
                    <img class="doc-img" alt="Doc Name" width="120" height="120" [src]="doc.searchImage">
                </div>
            </div>
            <div class="grow shrink min-w-0">
                <a class="flex flex-row justify-between gap-x-16">
                    <h2>
                        <span>{{doc.type}}.</span>
                        <span> {{doc.name}}</span>
                        <span>, {{doc.degrees}}</span>
                    </h2>
                    <span class="text-gray-500">{{doc.distance}}</span>
                </a>
                <span class="text-sm font-medium">{{doc.serviceType}}</span>
                <div>
                    <span class="text-sm pr-4">{{doc.address}}</span>
                </div>
                <div class="flex flex-row items-center mt-1 text-base">
                    <span class="flex items-center icon-color">
                        <mat-icon>star</mat-icon>
                    </span>                    
                    <span>{{doc.rating}}</span>
                    <span class="text-gray-500 ml-1 mr-4">({{doc.ratingCount}})</span>
                    <div class="flex items-center patients-label icon-color text-sm">
                        <mat-icon>sentiment_very_satisfied</mat-icon>
                        <span class="ml-1">{{doc.bestReviewTag}}</span>
                    </div>
                    <mat-icon class="ml-2 text-gray-500">info</mat-icon>
                </div>
                <div class="text-gray-500 break-words text-base mt-2.5 mr-8">
                    <span *ngFor="let feedback of doc.feedbacks;let i = index">
                        <ng-container *ngIf="i!=0"> • </ng-container>
                        {{feedback}}
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="flex flex-col gap-y-2 px-2">
                <div class="flex flex-row gap-x-2">
                    <a *ngFor="let apt of doc.appointmentDetail.firstWeek"
                        [ngClass]="{'bg-teal-100 appt-date-active':apt.noOfApp !== 'No','bg-slate-200':apt.noOfApp ==='No'}"
                        class="flex flex-col justify-center items-center appt-date">
                        <span>{{apt.day}} {{apt.date}}</span>
                        <span class="text-xs">{{apt.noOfApp}}</span>
                        <span class="text-xs">Appts</span>
                    </a>
                </div>
                <div class="flex flex-row gap-x-2">
                    <a *ngFor="let apt of doc.appointmentDetail.firstWeek"
                        [ngClass]="{'bg-teal-100 appt-date-active':apt.noOfApp !== 'No','bg-slate-200':apt.noOfApp ==='No'}"
                        class="flex flex-col justify-center items-center appt-date">
                        <span>{{apt.day}} {{apt.date}}</span>
                        <span class="text-xs">{{apt.noOfApp}}</span>
                        <span class="text-xs">Appts</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-between pl-28 pr-2 mt-4">
        <a>See if they're in network</a>
        <a>View All availability</a>
    </div>
</div>